#:event{:measured-weight 1, :action-ok true, :weakest-axis :breadth, :at "2026-07-25T05:46:59.846Z", :as-of "2026-07-25", :countries-after 38, :action :acquire-new-country, :countries-absent 27, :countries-before 38, :dominant {:country "US", :n 88, :share 0.5}, :companies-before 176, :action-summary "candidates: 57  ready: 15  created: 0  no-lei: 9  site-issue: 20  no-doc: 13", :maturity-after 0.7343288177339902, :companies-after 176, :maturity-before 0.7343288177339902}
#:event{:measured-weight 1, :action-ok true, :weakest-axis :breadth, :at "2026-07-25T05:49:18.333Z", :as-of "2026-07-25", :countries-after 38, :action :acquire-new-country, :countries-absent 27, :countries-before 38, :dominant {:country "US", :n 88, :share 0.4971751412429379}, :companies-before 176, :action-summary "candidates: 57  ready: 16  created: 1  no-lei: 9  site-issue: 19  no-doc: 13", :maturity-after 0.7346567031254347, :companies-after 177, :maturity-before 0.7343288177339902}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-04T04:50:47.007Z", :as-of "2026-08-04", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary nil, :maturity-after 0.7635687658101451, :companies-after 185, :maturity-before 0.7587039009452803}
