#:event{:measured-weight 1, :action-ok true, :weakest-axis :breadth, :at "2026-07-25T05:46:59.846Z", :as-of "2026-07-25", :countries-after 38, :action :acquire-new-country, :countries-absent 27, :countries-before 38, :dominant {:country "US", :n 88, :share 0.5}, :companies-before 176, :action-summary "candidates: 57  ready: 15  created: 0  no-lei: 9  site-issue: 20  no-doc: 13", :maturity-after 0.7343288177339902, :companies-after 176, :maturity-before 0.7343288177339902}
#:event{:measured-weight 1, :action-ok true, :weakest-axis :breadth, :at "2026-07-25T05:49:18.333Z", :as-of "2026-07-25", :countries-after 38, :action :acquire-new-country, :countries-absent 27, :countries-before 38, :dominant {:country "US", :n 88, :share 0.4971751412429379}, :companies-before 176, :action-summary "candidates: 57  ready: 16  created: 1  no-lei: 9  site-issue: 19  no-doc: 13", :maturity-after 0.7346567031254347, :companies-after 177, :maturity-before 0.7343288177339902}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-04T04:50:47.007Z", :as-of "2026-08-04", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary nil, :maturity-after 0.7635687658101451, :companies-after 185, :maturity-before 0.7587039009452803}
#:event{:measured-weight 1, :action-ok true, :dry-run true, :weakest-axis :reachability, :at "2026-08-04T06:29:31.367Z", :as-of "2026-08-04", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 2  found: 0  not-found: 2  blocked: 0  unreachable: 0  error: 0", :maturity-after 0.7635687658101451, :companies-after 185, :maturity-before 0.7635687658101451}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-04T07:14:03.092Z", :as-of "2026-08-04", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 1  not-found: 29  blocked: 9  unreachable: 1  error: 0", :maturity-after 0.7635687658101451, :companies-after 185, :maturity-before 0.7635687658101451}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-04T13:16:29.061Z", :as-of "2026-08-04", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 30  blocked: 9  unreachable: 1  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-04T19:18:21.198Z", :as-of "2026-08-04", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-05T01:20:45.671Z", :as-of "2026-08-05", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-05T15:14:51.983Z", :as-of "2026-08-05", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-05T21:16:32.792Z", :as-of "2026-08-05", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-06T10:34:41.994Z", :as-of "2026-08-06", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-07T07:13:30.580Z", :as-of "2026-08-07", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-08T12:17:17.376Z", :as-of "2026-08-08", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-08T18:19:16.762Z", :as-of "2026-08-08", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-09T00:21:04.707Z", :as-of "2026-08-09", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-09T15:20:33.533Z", :as-of "2026-08-09", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-09T21:22:07.749Z", :as-of "2026-08-09", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-10T03:23:44.875Z", :as-of "2026-08-10", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-10T11:14:31.334Z", :as-of "2026-08-10", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 30  blocked: 9  unreachable: 1  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-10T17:16:21.514Z", :as-of "2026-08-10", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-10T23:18:13.685Z", :as-of "2026-08-10", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-11T11:25:19.260Z", :as-of "2026-08-11", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 30  blocked: 9  unreachable: 1  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-11T17:26:59.201Z", :as-of "2026-08-11", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 30  blocked: 9  unreachable: 1  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-11T23:28:31.593Z", :as-of "2026-08-11", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 30  blocked: 9  unreachable: 1  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-12T05:30:19.874Z", :as-of "2026-08-12", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-12T11:32:00.283Z", :as-of "2026-08-12", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 30  blocked: 9  unreachable: 1  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-12T17:33:38.891Z", :as-of "2026-08-12", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-12T23:35:09.008Z", :as-of "2026-08-12", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-13T05:36:41.763Z", :as-of "2026-08-13", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-13T11:38:18.517Z", :as-of "2026-08-13", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-13T17:39:55.941Z", :as-of "2026-08-13", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-13T23:41:25.433Z", :as-of "2026-08-13", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-14T05:43:13.289Z", :as-of "2026-08-14", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 30  blocked: 9  unreachable: 1  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-14T11:48:06.232Z", :as-of "2026-08-14", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-14T17:49:40.440Z", :as-of "2026-08-14", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-14T23:51:09.105Z", :as-of "2026-08-14", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-15T06:55:15.641Z", :as-of "2026-08-15", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-15T12:56:58.270Z", :as-of "2026-08-15", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-15T18:58:32.604Z", :as-of "2026-08-15", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 30  blocked: 9  unreachable: 1  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-16T01:00:05.755Z", :as-of "2026-08-16", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-16T10:11:30.774Z", :as-of "2026-08-16", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 30  blocked: 9  unreachable: 1  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-16T16:13:03.102Z", :as-of "2026-08-16", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 30  blocked: 9  unreachable: 1  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-16T22:14:43.987Z", :as-of "2026-08-16", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-17T04:16:34.162Z", :as-of "2026-08-17", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-17T10:18:35.577Z", :as-of "2026-08-17", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-17T16:21:19.519Z", :as-of "2026-08-17", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 28  blocked: 12  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
#:event{:measured-weight 1, :action-ok true, :dry-run false, :weakest-axis :reachability, :at "2026-08-17T22:22:53.163Z", :as-of "2026-08-17", :countries-after 43, :action :discover-contact-routes, :countries-absent 22, :countries-before 43, :dominant {:country "US", :n 88, :share 0.4756756756756757}, :companies-before 185, :action-summary "checked: 40  found: 0  not-found: 31  blocked: 9  unreachable: 0  error: 0", :maturity-after 0.7643795766209559, :companies-after 185, :maturity-before 0.7643795766209559}
